.page {
    //padding-top: 10px;
    position: absolute;
    width: 200px;
    height:200px;
    top:20px;
    left:50;
    transform: translate3d(0,0,0);
}

.page-left {
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(31px, 0, 0);
    //left: 50px;
}
.page-center {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(251px, 0, 0);
    //left: 275px;
}
.page-right {
    -webkit-transform: translate3d(470px, 0, 0);
    transform: translate3d(471px, 0, 0);
    //left: 500px;
}

.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}